@model ProcessoSeletivo.Models.Module

@{
    ViewData["Title"] = "Create";
}

<h1>Criar módulo</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Descrição do módulo" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DisplayOrder" class="control-label"></label>
                <input asp-for="DisplayOrder" class="form-control" placeholder="Ordem de exibição do módulo" />
                <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="CourseId" class="control-label">Qual curso o módulo pertence?</label>
                <select asp-for="CourseId" class ="form-control" asp-items="ViewBag.CourseId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Título do Módulo" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar módulo" class="btn btn-primary" />
                <input type="button" class="btn btn-secondary mx-2" value="Cancelar" onclick="location.href='@Url.Action("Index", "Module" )'" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
