@model ProcessoSeletivo.Models.Lesson

@{
    ViewData["Title"] = "Create";
}

<h1>Criar aula</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" placeholder="Descrição da aula" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Url" class="control-label"></label>
                <input asp-for="Url" class="form-control" placeholder="URL amigável" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ModuleId" class="control-label">A qual módulo essa aula pertence?</label>
                <select asp-for="ModuleId" class ="form-control" asp-items="ViewBag.ModuleId"></select>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Título da aula" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar aula" class="btn btn-primary" />
                <input type="button" class="btn btn-secondary mx-2" value="Cancelar" onclick="location.href='@Url.Action("Index", "Lesson" )'" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
