@model ProcessoSeletivo.Models.Course

@{
    ViewData["Title"] = "Create";
}

<h1>Criar um curso</h1>
<hr />
<div class="row">
    <div>
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mt-2">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Título do curso" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Summary" class="control-label"></label>
                <input asp-for="Summary" class="form-control" placeholder="Sumário do curso" />
                <span asp-validation-for="Summary" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DurationInMinutes" class="control-label"></label>
                <input asp-for="DurationInMinutes" class="form-control" placeholder="Duração (em minutos)" />
                <span asp-validation-for="DurationInMinutes" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Tag" class="control-label"></label>
                <input asp-for="Tag" class="form-control" placeholder="Tag de 4 dígitos" />
                <span asp-validation-for="Tag" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Criar curso" class="btn btn-primary" />
                <input type="button" class="btn btn-secondary mx-2" value="Cancelar" onclick="location.href='@Url.Action("Index", "Course" )'" />
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
